/* Inserta tu CSS aqui */
div{
  border: 1px solid #fff;
}
img{
	position: absolute;
}
.content{
	background-color: #8cb27c;
	width: 900px;
  height: 500px;
  padding: 25px;
}
.borde{
	padding: 250px;
	position: relative;
}
.box-one{
  width: 150px;
  height: 250px;
  position: absolute;
  left: -1px;
  top: 126px;
}
.box-two{
	width: 150px;
  height: 250px;
  position: absolute;
  right: -1px;
  top: 126px;
}
.circle{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  position: absolute;
  left: 335px;
  top: 145px;
}
.img1{
	right: -10px;
}

.img2{
	bottom: 5px;
  left: -30px;
}

.img3{
  top: -70px;
  left: 150px;
}